$white: #fff;
$primary: #294fc2;

// $secondary-1: #40bb15;

$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #fff;
$dark-background-color: #112252;
$light-background-color: #fff;
$blue-background-color: #1f3b91;
$hover-color: #2241a0;
$success-color: #40bb15;
$alert-color: #e3581c;
$danger-color: #e74040;
$muted-color: #bdbdbd;
